

<div class="row homepage">
    <div class="span1"></div>
	<div class="span5">
		<h2>Welcome to Spin Students</h2>
		<h5>Helping students pay attention since 2013.  <%= link_to "Learn More ", :learn %><i class="icon-play"></i></h5>
	    <div class="center">
		    <ul class="slot">
		        <li><%= image_tag "Elephant.jpg", :height=>"200", :title=>"Elephant" %></li>
		        <li><%= image_tag "Moviestar.jpg", :height=>"200", :title=>"Moviestar" %></li>
		        <li><%= image_tag "Swimmer.jpg", :height=>"200", :title=>"Swimmer" %></li>
		    </ul>
		    <br/>
		    <input type="button" id="playNormal" value="Spin" class="btn btn-primary"/>
		    <br/>

		    <div id="winner">
		 	</div>
		</div>
	   	<br/>
	</div>
	<div class="span5">
		<h2> Sign Up </h2>
		<%= form_for User.new do |f| %>
		    <%= f.text_field :email, :placeholder=>"Email"%>
		    <br/>
		    <%= f.password_field :password, :placeholder=>"Password"%>
		    <br/>
		    <%= f.password_field :password_confirmation, :placeholder=>"Re-enter Password"%>
		    <br/>
		  	<%= submit_tag "Sign Up", :class=>"btn btn-success signupbutton" %>
		<% end %>
	</div>

    <div class="span1"></div>
</div>


