<h1>Course <%= @course.title %> </h1>

<div id="students">
  <%= render @course.students %>
</div>
<div class="clear"></div>

<%= form_for @course.students.build do |f| %>
  <%= f.hidden_field :course_id %>
  <%= f.label :image, "Add Student:" %>
  <%= f.file_field :image, multiple: true, name: "student[image]" %>
<% end %>

