<!DOCTYPE html>
<html>
<head>
  <title>Spin Students</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">

    <div class="row topbar">
      <div class="span1"></div>
      <div class="span5">
        <h2 class="titletext">Spin Students</h2>
      </div>
      <div class="span5">
        <div class="navbar pull-right">
          <div class="navbar-inner">
            <ul class="nav pull-right">
            <li><a href="/courses">Courses</a></li>
            <li><a href="/logout">Log Out</a></li>
            </ul>
          </div>
        </div>

      <div class="span1"></div>
      </div>
    </div>

    <div class="row">
      <div class="span9">
        <% flash.each do |name, msg| %>
          <div class="alert alert-success">
            <%= msg %> 
            <button type="button" class="close" data-dismiss="alert">&times;</button>
          </div>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </div>
</body>
</html>